{%extends "layout.html"%}
{%block content%}

<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M96FKN6');</script>
<!-- End Google Tag Manager -->

<meta charset="utf-8" />
<title>Writing Samples</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel=stylesheet type="text/css" href="home.css"> -->
<!-- <link rel="icon" type="image/png" href="favicon.png"> -->
<meta name="keywords" content="Justin Desrosier">
<meta name="description"content="Justin Desrosier's writing samples">
<meta name="abstract" content="Justin Desrosier's writing samples">

<!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39636509-1', 'auto');
  ga('send', 'pageview');

</script> -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M96FKN6"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<section>
<div class="row">
  <div class="leftcolumn">
  </div>
  <div class="column">
  	<header>
	<h1>Writing Samples</h1>
    </header>
  </div>
</div>
</section>

<!-- <section>
<div class="row">
  <header class="leftcolumn">
	<h2 class="contact">postal</h2>
  </header>
  <div class="column">
	  <a href="index.html">Martin J. Osborne</a>, <a href="http://www.economics.utoronto.ca/">Department of Economics</a>, 150 St. George Street, <a href="http://www.utoronto.ca/">University of Toronto</a>, Toronto, Canada, M5S 3G7
  </div>
</div>
</section> -->

<section>
<div class="row">
  <header class="leftcolumn">
	<h2 class="contact">Winter 2021</h2>
  </header>
  <div class="column">
    <ul class="gs">
        <!-- <li><span class="black"><a href="NBIF_Justin.pdf">Curriculum vitae</a> (pdf)</span></li> -->
        <li><a href="{{ url_for('writing1') }}">Passenger Rail Demand Estimation: A Framework for the Windsor – Quebec City Corridor</a></li>
        <li><a href="{{ url_for('writing2') }}">Review of <i>price competition and quality differentiation with multiproduct firms</i> by Yi-Ling Cheng and Shin-Kun Peng</a></li>
    </ul>
  </div>
</div>
</section>

<section>
<div class="row">
  <header class="leftcolumn">
	<h2 class="contact">Fall 2020</h2>
  </header>
  <div class="column">
    <ul class="gs">
        <!-- <li><span class="black"><a href="NBIF_Justin.pdf">Curriculum vitae</a> (pdf)</span></li> -->
        <li><a href="{{ url_for('writing3') }}">The Institutional Matter and Policy Impact of the COVID-19 Pandemic on FDI and Trade for the International Economy</a></li>
        <li><a href="{{ url_for('writing4') }}">Review of <i>Political Power, Elite Control, and Long-Run Development: Evidence from Brazil</i> by Claudio Ferraz et al.</a></li>
        <li><a href="{{ url_for('writing5') }}">Economic Performance Review of CanNor</a></li>
    </ul>
  </div>
</div>
</section>

<section>
<div class="row">
  <header class="leftcolumn">
	<h2 class="contact">Spring 2020</h2>
  </header>
  <div class="column">
    <ul class="gs">
        <!-- <li><span class="black"><a href="NBIF_Justin.pdf">Curriculum vitae</a> (pdf)</span></li> -->
        <li><a href="{{ url_for('writing6') }}">Classification: The Implications of Social Stratification</a></li>
    </ul>
  </div>
</div>
</section>

<section>
<div class="row">
  <header class="leftcolumn">
	<h2 class="contact">Winter 2019</h2>
  </header>
  <div class="column">
    <ul class="gs">
        <!-- <li><span class="black"><a href="NBIF_Justin.pdf">Curriculum vitae</a> (pdf)</span></li> -->
        <li><a href="{{ url_for('writing8') }}">A Macroeconomic Analysis of Fibre Broadband Adoption in the OECD</a></li>
    </ul>
  </div>
</div>
</section>



<!-- <section>
<div class="row">
  <header class="leftcolumn">
	<h2 class="resume">writing samples</h2>
  </header>
  <div class="column">
      <ul class="gs">
          <li><span class="black"><a href="NBIF_Justin.pdf">Curriculum vitae</a> (pdf)</span></li>
          <li><a href="{{ url_for('writing1') }}">Winter 2021| Passenger Rail Demand Estimation: A Framework for the Windsor – Quebec City Corridor</a></li>
          <li><a href="{{ url_for('writing2') }}">Winter 2021| Review of <i>price competition and quality differentiation with multiproduct firms</i> by Yi-Ling Cheng and Shin-Kun Peng</a></li>
          <li><a href="{{ url_for('writing3') }}">Fall 2020| The Institutional Matter and Policy Impact of the COVID-19 Pandemic on FDI and Trade for the International Economy</a></li>
          <li><a href="{{ url_for('writing4') }}">Fall 2020| Review of <i>Political Power, Elite Control, and Long-Run Development: Evidence from Brazil</i> by Claudio Ferraz et al.</a></li>
          <li><a href="{{ url_for('writing5') }}">Fall 2020| Economic Performance Review of CanNor</a></li>
          <li><a href="{{ url_for('writing6') }}">Spring 2020| Classification: The Implications of Social Stratification</a></li>
          <li><a href="{{ url_for('writing7') }}">Winter 2019| Book Review of <i>The Affluent Society</i> by John Kenneth Galbraith</a></li>
          <li><a href="{{ url_for('writing8') }}">Winter 2019| A Macroeconomic Analysis of Fibre Broadband Adoption in the OECD</a></li>
      </ul>
  </div>
</div>
</section> -->


<div class="row">
  <div class="leftcolumn">
  </div>
  <footer class="column">
      Page last modified 2022.03.12.
  </footer>
</div>

</body>
{%endblock%}
